{% extends "nm2-base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1>{% trans "Application status for" %} {{person.fullname}}</h1>


<h2>{% trans "Personal information" %}</h2>

<table class="table table-sm">
    <tr><th>{% trans "Applicant" %}</th><td><a href="{{person.get_absolute_url}}">{{person.fullname}} &lt;{{person.preferred_email}}&gt;</a></td></tr>
    <tr><th>{% trans "Received application" %}</th><td>{{started|date:"Y-m-d"}}</td></tr>
    <tr><th>{% trans "Time of Last Action" %}</th><td>{{last_change|date:"Y-m-d"}}</th></tr>
    <tr>
    <th>{% trans "Advocate" %}{{process.advocates.count|pluralize}}</th>
        <td>
            {% for a in process.advocates.all %}
            <a href="{{ a.get_absolute_url }}">{{a.person.ldap_fields.uid}}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr><th>{% trans "Account name" %}</th><td>{{person.ldap_fields.uid|default:"none chosen yet"}}</td></tr>
    {% with fpr=person.fingerprint %}
    <tr>
      <th>{% trans "OpenPGP fingerprint" %}</th>
      <td>
        {{fpr.fpr|fingerprint}}{% if "edit_fpr" in visit_perms %} (<a href="{% url 'fprs:person_list' key=person.lookup_key %}">{% trans "manage" %}</a>){% endif %}
        {% if fpr %}
        <small>
        <ul class="packed">
          {% if keycheck %}
          <li>{% trans "Main key:" %} <i>{{keycheck.main.remarks}}</i> ({% trans "last updated:" %} {{keycheck.updated|date:"Y-m-d H:i T"}})</li>
          {% for uid in keycheck.uids %}
          <li>{{uid.name}}: <i>{{uid.remarks}}</i>, <i>{{uid.sigs_ok}}</i> {% trans "DD sigs" %}, <i>{{uid.sigs_no_key}}</i> {% trans "non-DD sigs" %}</li>
          {% endfor %}
          {% endif %}
        </ul>
        </small>
        {% endif %}
      </td>
    </tr>
    {% endwith %}
    {% if process.manager %}
    <tr><th>{% trans "Manager" %}</th><td><a href="{{process.manager.get_absolute_url}}">{{process.manager.person.ldap_fields.uid}}</a></td></tr>
    {% endif %}
    <tr><th>{% trans "Process" %}</th><td>{{process.applying_as|desc_status}} → {{process.applying_for|desc_status}}</td></tr>
    <tr><th>{% trans "Progress" %}</th><td>{{process.progress|desc_progress}}</td></tr>
    <tr><th>{% trans "Account created" %}</th><td>{% if process.progress == PROGRESS_DONE %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}</td></tr>
    {% if user.is_superuser %}
    <tr><th>{% trans "FD comments" %}</th><td>{{person.fd_comment}}</td></tr>
    {% endif %}
    {% if "view_mbox" in visit_perms %}
    <tr><th>{% trans "Mail archive" %}</th>
        <td>
            <tt><a href="mailto:{{process.archive_email}}">{{process.archive_email}}</a></tt>
            {% if process.mailbox_file %}
            <a href="{% url 'legacy:download_mail_archive' key=process.lookup_key %}">{% trans "(download mail archive)" %}</a>
            <a href="{% url 'legacy:display_mail_archive' key=process.lookup_key %}">{% trans "(display mail archive)" %}</a>
            {% else %}
            {% trans "(no mail archive yet)" %}
            {% endif %}
        </td>
    </tr>
    {% if mbox_stats %}
    <tr><th>{% trans "Mailbox stats" %}</th>
        <td>{{mbox_stats.date_first_py|date:"Y-m-d"}} {% trans "to" %} {{mbox_stats.date_last_py|date:"Y-m-d"}},
            {{mbox_stats.num_mails}} {% trans "mails," %}
            <br>
            {% if mbox_stats.median_py %}
              {% if mbox_stats.median_py.days %}{{mbox_stats.median_py.days}}d {% endif %}{{mbox_stats.median_hours}}h {% trans "median response time" %}
            {% endif %}
            <span class="mbox_sparkline" values="{{mbox_stats.response_time|join:","}}"></span>
        </td>
    </tr>
    {% endif %}
    {% endif %}
</table>


<h2>{% trans "Process log" %}</h2>

<table class="table table-sm">
<thead>
    <tr>
        {% if user.is_superuser %}
        <th>{% trans "Actions" %}</th>
        {% endif %}
        <th>{% trans "Date" %}</th>
        <th>{% trans "Changed by" %}</th>
        <th>{% trans "Progress" %}</th>
        {% if user.am %}
        <th>{% trans "Text" %}</th>
        {% endif %}
    </tr>
</thead>
<tbody>
    {% for l in log %}
    <tr>
        {% if user.is_superuser %}
        <td><a href="{% url 'admin:legacy_log_change' l.id %}">{% trans "edit" %}</a></td>
        {% endif %}
        <td>{{l.logdate|date:"Y-m-d"}}</td>
        <td>
            <a href="{{l.changed_by.get_absolute_url}}">{{l.changed_by.person.ldap_fields.uid}}</a>
        </td>
        <td>{{l.progress|desc_progress}}</td>
        {% if user.am %}
        <td>{{l.logtext}}</td>
        {% endif %}
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
