{% load i18n %}

<p>{% blocktrans %}Every Debian Contributor, to gain access to project resources, needs to know
and agree with these documents:{% endblocktrans%}
<dl>
  <dt><a href="https://www.debian.org/social_contract">{% trans "Debian Social Contract" %}</a> {% trans "(SC)" %}</dt>
  <dd>{% trans "Defines the common principles for all work in Debian" %}</dd>
  <dt><a href="https://www.debian.org/social_contract#guidelines">{% trans "Debian Free Software Guidelines" %}</a> {% trans "(DFSG)" %}</dt>
  <dd>{% trans "Defines what is Free Software for Debian" %}</dd>
  <dt><a href="https://www.debian.org/code_of_conduct">{% trans "Debian Code of Conduct" %}</a> {% trans "(CoC)" %}</dt>
  <dd>{% trans "Defines expectations for communication and behaviour within the Debian community" %}</dd>
  <dt><a href="https://www.debian.org/devel/dmup">{% trans "Debian Machine Usage Policies" %}</a> {% trans "(DMUP)" %}</dt>
  <dd>{% trans "Defines the rules for accessing Debian machines" %}</dd>
</dl>
</p>

<p>{% blocktrans %}Since a person's identity in Debian is defined by the OpenPGP key, we
require a signed statement of agreement for each key that is used in the
project.{% endblocktrans%}</p>

{% if edit %}
<p>{% blocktrans %}This page allows to manage the agreements automatically. To add or change
the signed agreement to SC/DFSG/DMUP, paste it in the form below.{% endblocktrans%}</p>
{% endif %}
