{% extends "nm2-base.html" %}
{% load nm %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
{% if person %}<li class="breadcrumb-item"><a href="{{person.get_absolute_url}}">{{person.fullname}}</a></li>{% endif %}
{% if process %}<li class="breadcrumb-item"><a href="{% url 'process_show' pk=process.pk %}">{{process.applying_for|desc_status}}</a></li>{% endif %}
{% if requirement %}<li class="breadcrumb-item"><a href="{{requirement.get_absolute_url}}">{{requirement}}</a>{% endif %}
</ol>
{% endblock %}

{% block head %}
{{block.super}}
<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/process.css">
{% endblock %}

