{% extends "process/nm2-base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1>{% trans "Add" %} {{type_desc}}</h1>

{% include explain_template with edit=True %}

{% if blurb %}
<p>{% blocktrans %}For your convenience, you can generate the signed statement
with this command, and the site will recognise the text and accept it without
a need of manual validation of its content:{% endblocktrans %}</p>

<pre>
(
  {% for line in blurb %}echo {{line}}
  {% endfor %}
) | gpg --clearsign --default-key {{user.fpr}}
</pre>
{% endif %}

<p>{% blocktrans with visitor_fpr=user.fpr%}Use <tt>gpg --clearsign --default-key {{visitor_fpr}}</tt>
to generate the signed statement. Tip: pipe it to <tt>xclip</tt> to have it
copied to the clipboard for easy pasting.{% endblocktrans %}</p>

<p>{% blocktrans %}It is a good idea to include some context information like
the date and nm.debian.org in the text, in case someone tries to reuse the
signed statement somewhere else.{% endblocktrans %}</p>

<p>{% trans "The signature will be verified using the key" %} {{user.fpr|fingerprint}}</p>

{% if requirement.type != "sc_dmup" %}
<p>{% blocktrans with visitor=user.fullname%}The statement will be sent to <a href="https://lists.debian.org/debian-newmaint">debian-newmaint</a> as <tt>{{visitor}}{% endblocktrans %}
    {% if "edit_email" in visit_perms %}
      <a href="{% url 'person:edit_email' key=user.lookup_key %}">&lt;{{user.email}}&gt;</a></tt>.
    {% else %}
      &lt;{{user.email}}&gt;</tt>.
    {% endif %}
</p>
{% endif %}

<form action="" method="post">{% csrf_token %}
  {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
  {% for field in form.visible_fields %}
  {{ field.label_tag }}<br>
  {{ field }}<br>
  {{ field.errors }}
  {% endfor %}        
  {{ form.non_field_errors }}
  <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
</form>

{% endblock %}
