{% extends "nm2-base.html" %}
{% load nm %}
{% load i18n %}

{% block head %}
{{block.super}}
{{stats|json_script:"stats"}}
<style type="text/css">
#progstats {
    font-size: small;
}
#progstats tbody {
    white-space: nowrap;
}
</style>
<script type="text/javascript">
(function($) {

function main()
{
    const el = document.getElementById("stats");
    const stats = JSON.parse(el.textContent);

    var bystatus = $("#bystatus");
    var byprogress = $("#byprogress");

    $("#progstats").DataTable({
          paging: false,
    });

    let dataset = [];
    for (const [st, value] of stats.by_status)
    {
        const s = window.nm2.ALL_STATUS[st];
        dataset.push({
            label: s.ldesc,
            data: value
        });
    }
    $.plot($("#bystatus_graph"), dataset, {
        series: {
            pie: {
                show: true,
                label: {
                    show: true,
                },
            },
        },
        legend: {
          show: true,
          container: "#bystatus_legend",
          labelFormatter: (label, series) => {
              return `${label}: ${series.data[0][1]}`;
          },
        },
    });
}

document.addEventListener("DOMContentLoaded", evt => { main(); });

})(jQuery);
</script>
{% endblock %}


{% block content %}

<h1>{% trans "Debian New Member - Statistics" %}</h2>

<a href="../../stats/">{% trans "Historical graphs" %}</a>

<h2 class="mt-2">{% trans "People by status" %}</h2>

<div class="row">
  <div class="col">
    <div style="height: 400px;" id="bystatus_graph"></div>
  </div>
  <div class="col">
    <div style="height: 400px;" id="bystatus_legend"></div>
  </div>
</div>

<h2 style="clear: both">{% trans "Active processes" %}</h2>

<table class="table table-sm" id="progstats">
    <thead>
    <tr>
        <th>{% trans "Applicant" %}</th>
        <th>{% trans "Uid" %}</th>
        <th>{% trans "For" %}</th>
        <th>{% trans "Manager" %}</th>
        {% comment %}
        <th>{% trans "Progr" %}</th>
        {% endcomment %}
        <th>{% trans "Adv" %}</th>
        <th>{% trans "Started" %}</th>
        <th>{% trans "Last log" %}</th>
        {% comment %}
        <th>{% trans "Total days" %}</th>
        <th>{% trans "AM days" %}</th>
        <th>{% trans "AM hold days" %}</th>
        <th>{% trans "Last AM days" %}</th>
        <th>{% trans "Last AM hold days" %}</th>
        <th>{% trans "Mbox age" %}</th>
        {% endcomment %}
        {% if user.is_am %}
        <th id="head_lastlog">{% trans "Last log entry" %}</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
        {% for p, status in active_processes %}
        <tr>
            <td><a href="{{ p.get_absolute_url }}">{{p.person.fullname}}</a></td>
            <td><a href="{{ p.get_absolute_url }}">{{p.person.ldap_fields.uid}}</a></td>
            <td val="{{ p.applying_for|seq_status }}">{{p.applying_for|sdesc_status}}</td>
            <td>
              {% with a=p.current_am_assignment %}
                {% if a %}
                <a href="{{ a.am.person.get_absolute_url }}">{{a.am.person.ldap_fields.uid}}</a>
                {% endif %}
              {% endwith %}
            </td>
            {% comment %}
            <td val="{{ p.progress|seq_progress }}"><a href="{{ p.get_absolute_url }}">{{p.progress|sdesc_progress}}</a></td>
            {% endcomment %}
            <td>
                {% for a in status.advocates.all %}
                <a href="{{ a.get_absolute_url }}">{{a.uid}}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
            <td>{{status.log_first.logdate|date:"Y-m-d"}}</td>
            <td>{{status.log_last.logdate|date:"Y-m-d"}}</td>
            {% comment %}
            <td>{{p.total_duration}}</td>
            <td>{{p.total_am_time}}</td>
            <td>{{p.total_amhold_time}}</td>
            <td>{{p.last_am_time}}</td>
            <td>{{p.last_amhold_time}}</td>
            <td>{{p.mbox_age|default_if_none:"-"}}</td>
            {% endcomment %}
            {% if user.is_am %}
            <td class="col_lastlog">
                {% if status.log_last.logtext %}
                {{ status.log_last.logtext }}
                {% else %}
                [{{status.log_last.requirement|default:"-"}} {{status.log_last.action|default:"-"}}]
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

